<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>416402075859-71ch0p0odk88v1cbbqac0c7jja5h5ge2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416402075859-71ch0p0odk88v1cbbqac0c7jja5h5ge2</string>
	<key>API_KEY</key>
	<string>AIzaSyCG0kaJazyub1MX1PwLAB8B_0H37eG9kAw</string>
	<key>GCM_SENDER_ID</key>
	<string>416402075859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oms.footBallApp</string>
	<key>PROJECT_ID</key>
	<string>footballapp-f7a37</string>
	<key>STORAGE_BUCKET</key>
	<string>footballapp-f7a37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:416402075859:ios:4a2ab48247b801ae</string>
	<key>DATABASE_URL</key>
	<string>https://footballapp-f7a37.firebaseio.com</string>
</dict>
</plist>